.mapAlign {
  width: 45vw;
  min-height: 45vh;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mapAlign {
  width: 90vw;
  height: 60vh;
}
.head {
  text-align: center;
  margin-top: 5%;
}
